html {
    font-size: 8px;
}

/*TODO: remove when putting on twitch*/
body {
    width: 1024px;
    border: 1px solid black;
    aspect-ratio: 8 / 9;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}